*{box-sizing: border-box;}
html, body{
  margin: 0;
}

body {
  height: auto;
  padding: 50px;
  font-family: sans-serif;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 17px;
}

a{
  font-size: 30px;
}

form {
  background-color: aquamarine;
  max-width: 850px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid olivedrab;
  .label {
    color: green;
    font-size: 25px;
  }
  .input {
    font-size: 20px;
    margin: 25px;
    padding: 10px;
  }
  .button {
    color: green;
    font-size: 25px;
    padding: 10px;
  }
}
.f-default {
  max-width: 450px;
  margin: 0 auto;
  padding: 45px;
  border: 1px solid;

  &__row {
    width: 100%;

    & + & {
      margin-top: 20px;
    }
  }

  &__actions {
    margin-top: 20px;
    text-align: right;
  }
}
