@import 'src/scss/abstracts/mixins';

.container{
  margin: 50px;
  background-image: url("~assets/h1-img-2.png");
  background-size: contain;
}
 img {
   width: 200px;
   height: 200px;
 }

.l-cart {
  font-size: 0;
  margin: 0 -15px;
  &__item {
    flex-basis: 25%;
    padding: 5px 15px;
  }
  &__item-name {
    font-size: 15px;
    color: green;
  }
  &__item-icon {
    padding: 5px;
  }
  &__item-price {
    font-size: 20px;
  }
}

.l-cart >.l-cart__item {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
}

li {
  list-style: none;
}

a{
  font-size: 30px;
}

form {
  background-color: aquamarine;
  max-width: 850px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid olivedrab;
  .label {
    color: green;
    font-size: 25px;
  }
  .input {
    font-size: 20px;
    margin: 25px;
    padding: 10px;
    border: 1px solid olivedrab;
  }
  .button {
    color: green;
    font-size: 25px;
    padding: 10px;
    border: 1px solid olivedrab;
  }
}
.f-default {
  max-width: 450px;
  margin: 0 auto;
  padding: 45px;
  border: 1px solid;

  &__row {
    width: 100%;

    & + & {
      margin-top: 20px;
    }
  }
}

@include tablet() {
  .l-cart {
    margin-left: 80px;
    &__item {
      width: 50%;
      img {
        max-width: 100%;
      }
    }}

  .l-cart li:nth-child(n+2){
    margin-top: 30px;
  }
}

@include mobile() {
  .l-cart {
    margin-left: 80px;
    margin-right: 80px;
    &__item {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }}

  .l-cart li:nth-child(n+1) {
    margin-top: 30px;
  }
}
