<header></header>
<body>
<div class = "container">

<p>
  <a routerLink="/shipping">Ваш заказ</a>
</p>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label class="label">Заказчик</label>
    <input class="input" type="text" formControlName="name" placeholder="Ваше имя">
    <input class="input" type="text" formControlName="name" placeholder="Ваш телефон">
  </div>

  <div>
    <label class="label">Адрес доставки</label>
    <input class="input" type="text" formControlName="address" placeholder="Ваш адрес">
  </div>

  <button class="button" type="submit">Покупка</button>

</form>
</div>
</body>
