  <div class = "container">
    <h1> Мы рады приветствовать Вас в интернет-магазине FLOWER-STORE!</h1>
    <p>Наша компания занимается составлением букетов, цветочных композиций и корзин с цветами. Мы поможем
      выбрать сувенир и подарок для Ваших близких, составим продуктовую корзину к праздничному столу.
      FLOWER-STORE осуществляет доставку цветов и подарков по Минску и Республике Беларусь 7 дней в неделю и круглосуточно!</p>
    <div class="description">
    <h1> Прием заказов:</h1>
    <ul>
      <li>пн-пт 9:00-21:00</li>
      <li>сб-вс 9:00-21:00</li>
    </ul>

    <h1>Наши телефоны:</h1>
      <p>+375 (29) 999-99-99</p>
      <br>
      <p>+375 (33) 999-99-99<p>
      <h1>Наш юридический адрес:</h1>

      <p>г. Минск, пр.Победителей, 27</p>
      <h1>Наша почта:  flower@store.by</h1>
      <h1>Наш WhatsApp, Telegram и Viber:   +375-999-99-99 </h1>
    </div>
  </div>
