<body>
  <div class = "container">
    <h1> Мы рады приветствовать Вас в интернет-магазине FLOWER-STORE!</h1>
    <p>Наша компания занимается составлением букетов, цветочных композиций и корзин с цветами. Мы поможем
      выбрать сувенир и подарок для Ваших близких, составим продуктовую корзину к праздничному столу.
      FLOWER-STORE осуществляет доставку цветов и подарков по Минску и Республике Беларусь 7 дней в неделю и круглосуточно!</p>
    <div class="description">
    <h3> Прием заказов:</h3>
    <ul>
      <li>пн-пт 9:00-21:00</li>
      <li>сб-вс 9:00-21:00</li>
    </ul>
    <h2>Контакты головного офиса:</h2>
    <h3>Наши телефоны:</h3>
      <a routerLink="/telephone">+375 (29) 999-99-99</a>
      <br>
      <a routerLink="/telephone">+375 (33) 999-99-99</a>
      <h4>Наш юридический адрес:</h4>

      <p>г. Минск, пр.Победителей, 27</p>
      <h3>Наша почта:  flower@store.by</h3>
      <h3>Наш WhatsApp, Telegram и Viber:   +375-999-99-99 </h3>
    </div>
  </div>
</body>
