<div class = "container">
  <h1> Мы рады приветствовать Вас в интернет-магазине ROUSEBUD!</h1>
  <p>Наша компания занимается составлением букетов, цветочных композиций и корзин с цветами. Мы поможем
    выбрать сувенир и подарок для Ваших близких, составим продуктовую корзину к праздничному столу.
    ROUSEBUD осуществляет доставку цветов и подарков по Минску и Республике Беларусь 7 дней в неделю и круглосуточно!</p>
  <ul class="l-products">
    <li class="l-products__item">
      <div class="img">
        <img src="h2-gallery-img-1.jpg">
      </div>
    </li>
    <li class="l-products__item">
        <h1 class="l-products__item-name"> Прием заказов:</h1>
          <p class="l-products__item-p">пн-пт 9:00-21:00</p>
          <p class="l-products__item-p">сб-вс 9:00-21:00</p>
        <h1 class="l-products__item-name">Наши телефоны:</h1>
          <p class="l-products__item-p">+375 (29) 999-99-99</p>
          <p class="l-products__item-p">+375 (33) 999-99-99<p>
        <h1 class="l-products__item-name">Наш юридический адрес:</h1>
          <p class="l-products__item-p">г. Минск, пр.Победителей, 27</p>
        <h1 class="l-products__item-name">Наша почта: flower@store.by</h1>
        <br>
        <h1 class="l-products__item-name">Наш WhatsApp, Telegram и Viber:+375-999-99-99 </h1>
    </li>

  </ul>
</div>
