@import 'src/scss/abstracts/mixins';

.container {
  margin: 0 auto;
  padding: 0 15px;
  background-image: url("~assets/h2-background-team.jpg");
  background-size: cover;
}

.description{
  border: 1px solid;
  padding: 25px;
  font-size: 20px;
  margin: 50px 300px;
  background-color: blanchedalmond;
  display: inline-block;
  width: 800px;
}

.l-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  &__item {
    flex-basis: 40%;
    padding-top: 25px;
    margin-left: 100px;
  }
  &__item-name {
    font-size: 25px;
    color: green;
  }
  &__item-p {
    font-size: 20px;
  }
}

.img {
  max-width: 100%;
}

h1 {
  color: green;
  font-size: 35px;
  padding: 15px;
  margin: 0 auto;
}

p{
  font-size: 20px;
  position: center;
}

@include tablet() {
  .l-products {
    &__item {
      width: 50%;
      //margin-left: 150px;
      margin: 0 auto;
    }}
  img {
    max-width: 100%;
  }
}

@include mobile() {
  .l-products {
    &__item {
      width: 100%;
      //margin-left: 20px;
      margin: 0 auto;
    }}
  img {
    max-width: 100%;
  }
}
