<body>
  <div class="container">
  <ul>
    <li *ngIf="myProducts">
      <h2>{{ product.name }}</h2>
      <h3>{{ product.price | currency }}</h3>
      <h4>{{ product.description }}</h4>
      <p>{{ product.text }}</p>
<!--      <h4>{{ product.additional }}</h4>-->
<!--      <h4>{{ product.weight }}</h4>-->
<!--      <h4>{{ product.dimentions }}</h4>-->
        <img src="{{product.img}}">

      <button (click)="addToCart(product)" title="Buy">Купить</button>
    </li>
  </ul>
</div>
</body>


