*{box-sizing: border-box;}

body {
  font-family: "Open Sans",sans-serif;
  line-height: 26px;
  font-weight: 400;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 17px;
}

img {
  height: 600px;
  width: 600px;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 36px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
button {
  font-size: 20px;
  padding: 15px;
}

.ul {

  float: left;
}
