*{box-sizing: border-box;}
html, body{
  margin: 0;
}

h1{
  font-weight:100;
  font-size: 45px;
  color: #222222;
  position: relative;
  padding-bottom: 50px;
}
.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}
