@import 'src/scss/abstracts/mixins';

.container{
  padding: 50px;
  margin: 0 auto;
  background-image: url("~assets/h2-background-img-1-600x600.jpg");
  background-size: contain;
}

.l-products {
  margin-left: 20px;
  &__item {
    font-size: 19px;
    line-height: 1.5;
    padding-left: 30px;
    display: block;
  }
}

.h1 {
  color: green;
  padding-top: 40px;
  font-size: 25px;
  margin-left: 50px;
}
.p{
  font-size: 19px;
  padding-top: 5px;
}

@include tablet() {
  .l-products {
    &__item {
      width: 50%;
    }}
}

@include mobile() {
  .l-products {
    &__item {
      width: 100%;
    }}
}
