  <div class = "container">
    <p class="p">Внимательно прочитайте и ознакомьтесь со способами и порядоком оплаты</p>

    <h1 class="h1">Способы оплаты:</h1>
    <ul class="l-products">
      <li class="l-products__item"> Наличными курьеру;</li>
      <li class="l-products__item">Наличными или банковской карточкой в пункте самовывоза;</li>
      <li class="l-products__item">Банковской картой VISA или MasterCard при оплате через сайт; </li>
      <li class="l-products__item">Через систему РАСЧЕТ.</li>
      <li class="l-products__item">Другие платежные системы по предварительному согласованию;</li>
    </ul>
    <h1 class="h1">Порядок онлайн оплаты:</h1>
    <p class="p"> Вы можете произвести оплату используя платежную карточку VISA или MasterCard любого типа
       (через систему электронных платежей WebPay). После подтверждения заказа администратором, деньги
       с вашей платежной карточки перечисляются на счёт нашей компании, при этом система автоматически извещает
       Вас о совершении платежа (посредством e-mail). Передача данных осуществляется по отдельному каналу с применением
       современных методов шифрования. При этом исключается любая возможность перехвата конфиденциальной информации.
       Данные передаются в зашифрованном виде и сохраняются только на специализированном сервере системы WEBPAY.</p>

    <h1 class="h1"> Оплата с помощью системы РАСЧЕТ:</h1>
    <ul class="l-products">
      <li class="l-products__item">Выбрать последовательно пункты: **</li>
      <li class="l-products__item">Система «Расчет» (ЕРИП)</li>
      <li class="l-products__item">Сервисы E-POS</li>
      <li class="l-products__item">E-POS - оплата товаров и услуг</li>
      <li class="l-products__item">Ввести номер заказа</li>
      <li class="l-products__item">Проверить корректность информации</li>
      <li class="l-products__item">Совершить платеж</li>
      <li class="l-products__item">Нахождение услуги в дереве услуг системы «Расчет» (ЕРИП) в некоторых
        пунктах оплаты может отличаться от описанного выше.В связи с этим, в случае возникновения
      проблем с поиском услуги, предлагаем выполнить поиск по номеру услуги в ЕРИП: 4440631.</li>
    </ul>
    <h1 class="h1">Возврат денежных средств:</h1>
    <p class="p">При ошибочной оплате возврат денежных средств осуществляется на ту же карточку, с которой была произведена оплата.</p>
    <h1 class="h1">Внимание!</h1>

    <p class="p"> * Перед оплатой онлайн обязательно дождитесь звонка от администратора сайта для подтверждения заказа.
    Помните, что обычно заказы обрабатываются с 9:00 до 21:00 7 дней в неделю.</p>

    <p class="p">** Нахождение услуги в дереве услуг системы «Расчет» (ЕРИП) в некоторых пунктах оплаты может отличаться от описанного выше.
    В связи с этим, в случае возникновения проблем с поиском услуги, предлагаем выполнить поиск по УНП. Наш УПН: 191684883.</p>

    <p class="p">*** Укажите в комментариях к заказу желаемый способ оплаты.</p>
  </div>
