<div class="container">

<ul class="l-products">
  <li class="l-products__item" *ngFor="let product of myProducts; index as productId" >

    <h3 class="l-products__item-name">
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a>
    </h3>

    <h4 class="l-products__item-price" *ngIf="product.price">
      Price: {{ product.price | currency }}
    </h4>

    <p class="l-products__item-icon" *ngIf="product.img">
      <img src="{{product.img}}">
    </p>

  </li>
</ul>
</div>
