@import 'abstracts/mixins';

@include tablet() {
  .parent >.children{
    width: 50%;
  }
  .parent li:nth-child(n+2){
    margin-top: 30px;
  }
}

@include mobile() {
  .parent > .children {
    width: 100%;
  }
  .parent li:nth-child(n+1) {
    margin-top: 30px;
  }
}

*{box-sizing: border-box;}

body {
  font-family: "Open Sans",sans-serif;
  line-height: 26px;
  font-weight: 400;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 17px;
}
.children {
  flex-basis: 25%;
  padding: 5px 15px;
}

.parent {
  font-size: 0;
  margin: 0 -15px;
}
.parent >.children {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
}

li {
  list-style: none;
}
img {
  height: 300px;
  width: 300px;
}
