@import 'abstracts/variables.scss';

@mixin tablet() {
  @media screen and (max-width: map-get($breakPoints, 'tablet')) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: map-get($breakPoints, 'mobile')) {
    @content;
  }
}
