<header>
  <img src="logo.png" alt="img" class="img">
  {{title}} {{takingOrders}}
  <a href="#" routerLink="">Каталог</a>
  <a href="#" routerLink="payment">Оплата</a>
  <a href="#" routerLink="delivery">Доставка</a>
  <a href="#" routerLink="contacts">Контакты</a>
  <a href="#" routerLink="cart">Корзина</a>
  <a href="#" routerLink="form">Регистрация</a>
  {{myTelephone}}
  <div class="titleI">
    <span>Добро пожаловать</span>
  </div>
  <div class="title">
    <span>Доставка цветов</span>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <a href="#" routerLink="">Каталог</a>
  <a href="#" routerLink="payment">Оплата</a>
  <a href="#" routerLink="delivery">Доставка</a>
  <a href="#" routerLink="contacts">Контакты</a>
  <a href="#" routerLink="cart">Корзина</a>
  <a href="#" routerLink="form">Регистрация</a>
  <h1>FLOWER STORE</h1>

  <p>Прием заказов</p>
  <ul>
    <li>пн-пт 9:00-21:00</li>
    <li>сб-вс 9:00-21:00</li>
  </ul>
  <p>Наши телефоны</p>
  <a routerLink="/telephone">+375 (29) 999-99-99</a>
  <a routerLink="/telephone">+375 (33) 999-99-99</a>

</footer>
