<div class = "container">
  <p>Доставка цветов в Минске осуществляется в течении 1-2 часов с момента поступления заказа.
    Доставка возможна в любой период времени, указанный Вами при оформлении заказа.</p>

  <p>Возможность и стоимость доставки не в Минске, а в рядом расположенные населенные пункты устанавливается отдельно
    в соответствии с тарифами доставки после согласования с менеджером.</p>

  <p>Доставка в Минске осуществляется согласно тарифам. Чтобы заказать понравившийся букет, подарок или услугу - просто
    положите его в корзину и нажмите заказать. </p>

  <h1>Сроки доставки букетов. Ночная доставка цветов</h1>
  <p>Доставка цветов и подарков осуществляется 7 дней в неделю круглосуточно (доставка в период с 21:00 до 9:00 возможна
    только по предварительному согласованию с менеджером).</p>

  <p>Пожалуйста, учитывайте, что все большие композиции (от 200 цветов в корзине и более) собираются дольше, чем
    стандартные. Уточняйте возможное время доставки у оператора.</p>
  <ul>
    <li> В Минске - 15,00 Br;</li>
    <li>В другие населенные пункты - по предварительному согласованию с менеджером.</li>
  </ul>
  <p>Важно! Заказы, оформленные после 21:00 могут быть доставлены не ранее 10:00 следующего дня!</p>

  <p>Прибыв на место, курьер обязательно ждет получателя 15 минут. Далее, если получатель не появляется на месте,
    он ищет возможность оставить букет тому, кто находится рядом с местом назначения (соседям или коллегам).
    Если оставить цветы некому, он возвращает его в компанию. Покупатель может заказать повторную доставку букета,
    стоимость повторной доставки согласно тарифам. Средства за первую доставку клиенту не возвращаются</p>

  <p>В случае, если адрес доставки указан неверно, наша служба поддержки клиентов свяжется с вами, чтобы уточнить
    детали доставки. Время доставки вашего заказа может немного увеличиться. Убедительно просим вас проверять
    правильность адреса при оформлении заказа.</p>
</div>
