@import 'src/scss/abstracts/mixins';

.container{
  margin: 0 auto;
  padding: 50px;
  font-size: 17px;
  height:650px;
  background-image: url("~assets/h3-img-4.jpg");
  background-size: contain;
}
.f-default {
  max-width: 400px;
  margin-left: 600px;
  padding: 45px;
  border: 1px solid;
  background-image: url("~assets/h2-background-team-768x440.jpg");
  background-size: contain;

  &__row {
    width: 100%;
    border: 1px solid olivedrab;

    & + & {
      margin-top: 20px;
    }
  }

  &__actions {
    margin-top: 20px;
    text-align: center;
    border: 1px solid olivedrab;
  }
}

@include tablet() {
  .l-products {
    &__item {
      width: 50%;
    }}

  .l-products li:nth-child(n+2){
    margin-top: 30px;
  }
}

@include mobile() {
  .l-products {
    &__item {
      width: 100%;
    }}

  .l-products li:nth-child(n+1) {
    margin-top: 30px;
  }
}
