  <div class = "container">
  <form
    action="#"
    name="signin"
    class="f-default"
    [formGroup]="signInForm"
    (submit)="onSignInSubmit($event)"
  >

    <mat-form-field class="f-default__row">
      <mat-label>Telephone</mat-label>
      <input
        type="text"
        name="telephone"
        formControlName="telephone"
        placeholder="ваш телефон"
        matInput
      >
    </mat-form-field>
    <mat-error *ngIf="signInForm.controls.telephone.hasError('pattern')">
      Ошибка по регулярному выражению
    </mat-error>
    <mat-error *ngIf="signInForm.controls.telephone.hasError('required') && signInForm.controls.telephone.dirty  && signInForm.controls.telephone.touched">
      поле не должно быть пустым
    </mat-error>

    <mat-form-field class="f-default__row">
      <mat-label>Login</mat-label>
      <input
        type="text"
        name="login"
        formControlName="login"
        placeholder="Ваше имя"
        matInput
      >
    </mat-form-field>
    <mat-error *ngIf="signInForm.controls.login.hasError('required') && signInForm.controls.login.dirty && signInForm.controls.login.touched">
      поле не должно быть пустым
    </mat-error>

    <div class="f-default__actions">
      <button
        type="submit"
        class="f-default__btn"
        mat-raised-button
        color="primary"
        [disabled]="!this.signInForm.valid"
      >
        Войти
      </button>
    </div>
  </form>
  </div>
