<p>form works!</p>
<form
  action="#"
  name="signin"
  class="f-default"
  [formGroup]="signInForm"
  (submit)="onSignInSubmit($event)"
>


  <mat-form-field class="f-default__row">
    <mat-label>Login</mat-label>
    <input
      type="text"
      name="login"
      formControlName="login"
      placeholder="Login"
      matInput
    >
  </mat-form-field>

  <mat-form-field class="f-default__row">
    <mat-label>Password</mat-label>
    <input
      type="password"
      name="pass"
      formControlName="pass"
      placeholder="Password"
      matInput
    >
  </mat-form-field>

  <div class="f-default__actions">
    <button
      type="submit"
      class="f-default__btn"
      mat-raised-button
      color="primary"
    >
      Sign in
    </button>
  </div>
</form>
