.f-default {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid;

  &__row {
    width: 100%;

    & + & {
      margin-top: 20px;
    }
  }

  &__actions {
    margin-top: 20px;
    text-align: right;
  }
}
