*{box-sizing: border-box;}
html, body{
  margin: 0;
}

body {
  height: auto;
  padding: 50px;
  font-family: sans-serif;
  background-image: url("~assets/h2-gallery-img-1.jpg");
  background-size: cover;
  }

.container{
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px;
  font-size: 17px;
  height:650px;
}
.f-default {
  max-width: 400px;
  margin-left: 600px;
  padding: 45px;
  border: 1px solid;
  background-image: url("~assets/h2-background-team-768x440.jpg");
  background-size: contain;

  &__row {
    width: 100%;

    & + & {
      margin-top: 20px;
    }
  }

  &__actions {
    margin-top: 20px;
    text-align: right;
  }
}
